.fixed-table-body {
  height: 100%;
  overflow: auto;
}
#daily-feed .name {
  font-weight: 500;
  color: #616161;
  text-decoration: none;
  cursor: pointer;
}
#daily-feed .content {
  margin-top: 10px;
  margin-bottom: 0;
}
#tickets .hightlight {
  font-weight: 500;
  color: #616161;
  text-decoration: none;
  cursor: pointer;
}
#projects .table > tbody > tr > td,
#projects .table > thead > tr > th {
  vertical-align: middle;
}
