@site-slidePanel-normal: {
  .site-navbar-small {
    .slidePanel-right, .slidePanel-left {
      top: (@navbar-small-height + @site-menubar-height) !important;
    }
  }
};

@site-slidePanel-unfold: {
  .site-navbar-collapse-show {
    .slidePanel {
      &.slidePanel-left, &.slidePanel-right {
        top: @navbar-small-height + @navbar-small-height !important;
      }
    }
  }
};

@site-navbar-unfold: {
  .site-navbar {
    .navbar-header {
      @media (min-width: @grid-float-breakpoint) {
        width: @site-menubar-unfold-width;
      }
    }

    .navbar-container {
      @media (min-width: @grid-float-breakpoint) {
        margin-left: @site-menubar-unfold-width;
      }
    }
  }
};

@site-skintools-mormal: {
  .site-skintools {
    top: (@navbar-small-height + @site-menubar-height + 30px) !important;
  }
};

@site-skintools-unfold: {
  @media (max-width: @grid-float-breakpoint-max) {
    .site-navbar-collapse-show {
      .site-skintools {
        top: (@navbar-small-height + @navbar-small-height + 30px) !important;
      }
    }
  }
};


@site-menubar-unfold: {
  &.site-menubar-native {
    .site-menubar-body {
      overflow-y: scroll;
    }
  }

  .site-menubar {
    width: @site-menubar-unfold-width;
  }
};

@site-menubar-toggle-unfold: {
  [data-toggle="menubar"] {
    .hamburger-arrow-left {
      .hamburger-arrow-left();
    }
  }
};


@media screen and (min-width: @grid-float-breakpoint-max) {
  @site-slidePanel-normal();
  @site-skintools-mormal();
}

@media (max-width: @grid-float-breakpoint-max) {
  @site-navbar-unfold();
  @site-skintools-unfold();
  @site-slidePanel-unfold();

  @site-menubar-unfold();
  @site-menubar-toggle-unfold();

  ul.site-menu {
    padding-left: 0;
    padding-right: 0;
  }

  .site-menubar-open {
    .page, .site-footer {
      -ms-transform: translate(@site-menubar-unfold-width, 0);
      .transform(translate3d(@site-menubar-unfold-width, 0, 0));
    }
  }

  .site-menubar-changing {
    overflow: hidden;

    .page, .site-footer {
      transition: transform .25s;
    }
  }


  .site-menubar {
    .site-menubar-hide &,
    .site-menubar-open & {
      transition: transform .25s, top .35s, height .35s;
    }

    .site-menubar-open & {
      -ms-transform: translate(0, 0);
      .transform(translate3d(0, 0, 0));
    }
  }
}
