/* Header */
#header .header-btn-collapse-nav {
	margin-top: 18px;
}

/* Custom Icon */
.thumb-info .thumb-info-custom-icon {
	width: auto;
	margin: -30px auto 0;
	transform: none !important;
}

/* Custom Divider */
.custom-divider {
	height: 56px;
	background: transparent url(../../img/custom-divider-1.png) no-repeat center center;
}

/* Custom Thumb Info */
.thumb-info-custom {
	position: relative;
	overflow: visible;
	z-index: 2;
}
.thumb-info-custom:before {
	border: 1px solid #ddd;
	bottom: -5px;
	content: "";
	height: 5px;
	left: 2px;
	position: absolute;
	right: 2px;
	width: auto;
	z-index: 0;
}
.thumb-info-custom:after {
	border: 1px solid #ddd;
	bottom: -9px;
	content: "";
	height: 5px;
	left: 5px;
	position: absolute;
	right: 5px;
	width: auto;
	z-index: 0;
}
.thumb-info-custom .btn {
	margin: 0 0 -45px;
	position: relative;
	z-index: 10;
}

/* Thumb Info Custom Icon */
.thumb-info.thumb-info-centered-icons .thumb-info-action-custom {
	top: 0;
	margin-top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	display: block;
}
.thumb-info.thumb-info-centered-icons .thumb-info-action-custom a {
	display: block;
	width: 100%;
	height: 100%;
}
.thumb-info.thumb-info-centered-icons .thumb-info-action-custom .thumb-info-icon-custom:before {
	border-top: 1px solid #ddd;
	content: "";
	height: 1px;
	left: 20%;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 60%;
}
.thumb-info.thumb-info-centered-icons .thumb-info-action-custom .thumb-info-icon-custom:after {
	border-left: 1px solid #ddd;
	content: "";
	height: 60%;
	left: 50%;
	position: absolute;
	right: 2px;
	top: 20%;
	width: 1px;
}

/* Thumb Info Caption Text Custom */
.thumb-info-caption-text-custom {
	background: #F4f4f4;
	margin: 0 !important;
	padding: 14px !important;
}

/* Thumb Info Custom Blog */
@media (max-width: 991px) {
	.thumb-info-blog-custom img {
		max-width: 120px;
		margin-bottom: 10px !important;
	}
}
/* Food Menu */
.food-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.food-menu li {
	margin: 0 0 32px 0;
	padding: 0;
	clear: both;
}
.food-menu img {
	float: left;
	margin: 0 25px 0 0;
	max-width: 68px;
}
.food-menu h3 {
	font-size: 24px;
	padding: 7px 0 4px 95px;
	margin: 0;
	text-transform: none;
	font-family: Georgia, serif;
	font-style: italic;
}
.food-menu h3 em {
	font-size: 16px;
}
.food-menu p {
	font-size: 1.3em;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0 0 0 95px;
	position: relative;
	display: block;
}
.food-menu p span {
	background: #FFF;
	display: inline-block;
	position: relative;
	z-index: 2;
	padding: 0 10px 0 0;
}
.food-menu p:before {
	border-bottom: 2px dotted #ddd;
	content: "";
	height: 1px;
	left: 0%;
	position: absolute;
	bottom: 5px;
	width: 100%;
	z-index: 1;
}
.food-menu .food-menu-price {
	background: #fff;
	display: inline-block;
	float: right;
	font-size: 22px;
	margin-top: -26px;
	padding: 0 0 0 10px;
	position: relative;
	z-index: 3;
}

@media (max-width: 991px) {
	.food-menu p {
		padding-bottom: 35px;
	}
	.food-menu .food-menu-price {
		margin-top: -20px;
	}
}
