@import "../vars.less";

.page-search {
  &-form {
    margin-bottom: 35px;
  }

  &-title {
    font-size: 26px;
  }

  .list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;

    >h4 {
      margin-bottom: 5px;
      a {
        color: #526069;
        text-decoration: none;

        &:hover {
          color: #37474f;
          text-decoration: none;
        }
      }
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
}
