---
title: Invoice
body_class: page-invoice
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/invoice.css">
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header">
        <h1 class="page-title">Invoice</h1>
      </div>
      <div class="page-content">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-md-3">
                <h4>
                  <img class="margin-right-10" src="{{assets}}//images/logo-blue.png"
                  alt="...">Remark</h4>
                <address>
                  795 Folsom Ave, Suite 600
                  <br> San Francisco, CA, 94107
                  <br>
                  <abbr title="Mail">E-mail:</abbr>&nbsp;&nbsp;example@google.com
                  <br>
                  <abbr title="Phone">Phone:</abbr>&nbsp;&nbsp;(123) 456-7890
                  <br>
                  <abbr title="Fax">Fax:</abbr>&nbsp;&nbsp;800-692-7753
                </address>
              </div>
              <div class="col-md-3 col-md-offset-6 text-right">
                <h4>Invoice Info</h4>
                <p>
                  <a class="font-size-20" href="javascript:void(0)">#5669626</a>
                  <br> To:
                  <br>
                  <span class="font-size-20">Machi</span>
                </p>
                <address>
                  795 Folsom Ave, Suite 600
                  <br> San Francisco, CA, 94107
                  <br>
                  <abbr title="Phone">P:</abbr>&nbsp;&nbsp;(123) 456-7890
                  <br>
                </address>
                <span>Invoice Date: January 20, 2015</span>
                <br>
                <span>Due Date: January 22, 2015</span>
              </div>
            </div>

            <div class="page-invoice-table table-responsive">
              <table class="table table-hover text-right">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Description</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Unit Cost</th>
                    <th class="text-right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-left">
                      Server hardware purchase
                    </td>
                    <td>
                      32
                    </td>
                    <td>
                      $75
                    </td>
                    <td>
                      $2152
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      2
                    </td>
                    <td class="text-left">
                      Office furniture purchase
                    </td>
                    <td>
                      15
                    </td>
                    <td>
                      $169
                    </td>
                    <td>
                      $4169
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      3
                    </td>
                    <td class="text-left">
                      Company Anual Dinner Catering
                    </td>
                    <td>
                      69
                    </td>
                    <td>
                      $49
                    </td>
                    <td>
                      $1260
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      4
                    </td>
                    <td class="text-left">
                      Payment for Jan 2015
                    </td>
                    <td>
                      149
                    </td>
                    <td>
                      $12
                    </td>
                    <td>
                      $866
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-right clearfix">
              <div class="pull-right">
                <p>Sub - Total amount:
                  <span>$4800</span>
                </p>
                <p>VAT:
                  <span>$35</span>
                </p>
                <p class="page-invoice-amount">Grand Total:
                  <span>$4835</span>
                </p>
              </div>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-animate btn-animate-side btn-primary">
                <span><i class="icon md-shopping-cart" aria-hidden="true"></i> Proceed
                  to payment</span>
              </button>
              <button type="button" class="btn btn-animate btn-animate-side btn-info" onclick="javascript:window.print();">
                <span><i class="icon md-print" aria-hidden="true"></i> Print</span>
              </button>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}