// Name:            Status
//
// Component:       `status`
//
// Modifiers:       'status-online'
//                  'status-off'
//                  'status-busy'
//                  'status-away'
//                  'status-lg'
//                  'status-md'
//                  'status-sm'
//                  'status-xs'
//
// ========================================================================

// Variables
// ========================================================================

@status-online-color:   @brand-success;
@status-off-color:      @brand-dark;
@status-busy-color:     @brand-warning;
@status-away-color:     @brand-danger;


// Status Modifier
// ========================================================================

.status-online {
  background-color: @status-online-color;
}

.status-off {
  background-color: @status-off-color;
}

.status-busy {
  background-color: @status-busy-color;
}

.status-away {
  background-color: @status-away-color;
}
