/* Call to Action */
.call-to-action {
	@include clearfix;
	position: relative;
	clear: both;
	min-height: 125px;
	padding-#{$left}: 25px;
	padding-#{$right}: 25px;
	h3 {
		text-transform: none;
		color: $color-dark;
		padding: 0;
		margin: 0 0 9px;
	}

	p {
		font-size: 1.2em;
	}

	.call-to-action-content {
		text-align: center;
		width: 70%;
		margin-#{$left}: 3%;
		padding-top: 35px;
	}

	.call-to-action-btn {
		width: 22%;
		text-align: center;
		position: absolute;
		top: 50%;
		margin: -18px 0 0;
		#{$left}: auto;
		#{$right}: 25px;
	}

	&.call-to-action-front {
		z-index: 1;
	}

	&.call-to-action-default {
		background: $color-default;
	}

	&.call-to-action-dark {
		background: $color-dark-4;
		h3, p {
			color: #FFF;
		}
	}

	&.with-borders {
		border-top: 1px solid #DFDFDF;
		border-bottom: 1px solid #DFDFDF;
		border-#{$left}: 1px solid #ECECEC;
		border-#{$right}: 1px solid #ECECEC;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	}

	&.with-full-borders {
		border: 2px solid #CCC;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	}

	&.featured {
		@include background(linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 rgba(0, 0, 0, 0));
		padding: 0;
		margin: 0;
		border-top: 3px solid #CCC;
		border-bottom: 1px solid #DFDFDF;
		border-#{$left}: 1px solid #ECECEC;
		border-#{$right}: 1px solid #ECECEC;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);

		@each $color in $colors-list {
			&.featured-#{nth($color,1)} {
				border-top-color: #{nth($color,2)};
			}
		}
	}

	&.with-button-arrow {
		.call-to-action-btn {
			top: 30%;
		}
	}

	&.button-centered {
		.call-to-action-content {
			text-align: center;
			width: 100%;
			padding: 35px 0 0;
			margin: 0;
		}

		.call-to-action-btn {
			text-align: center;
			position: static;
			margin: 20px auto 25px;
			width: auto;
		}
	}

	&.call-to-action-in-footer {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 30px;
		margin-bottom: -50px !important;
		&:before {
			content: "";
			display: block;
			position: absolute;
			border-#{$left}: 20px solid transparent;
			border-#{$right}: 20px solid transparent;
			border-top: 20px solid #FFF;
			height: 20px;
			width: 20px;
			top: -5px;
			#{$left}: 50%;
			margin-#{$left}: -20px;
		}
	}

	&.no-top-arrow {
		&:before {
			display: none;
		}
	}

	&.call-to-action-in-footer-margin-top {
		margin-top: 60px;
	}
}

.container .call-to-action {
	border-radius: 8px;
}

/* Responsive */
@media (max-width: 767px) {
	.call-to-action {
		.call-to-action-content,
		.call-to-action-btn {
			margin: 0;
			padding: 20px;
			position: static;
			width: auto;
		}
	}
}