---
title: Maintenance
body_class: page-maintenance layout-full
---

{{#extend "layout-blank"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/maintenance.css">
  {{/content}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
    data-animsition-out="fade-out">>
      <div class="page-content vertical-align-middle">
        <i class="icon md-settings icon-spin page-maintenance-icon" aria-hidden="true"></i>
        <h2>Under Maintenance</h2>
        <p>PLEASE GIVE US A MOMENT TO SORT THINGS OUT</p>

        <footer class="page-copyright">
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2015. All RIGHT RESERVED.</p>
          <div class="social">
            <a href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-dribbble" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}