
.site-navbar {
  .navbar-header {
    .navbar-brand-logo {
      height: 24px;
    }

    .navbar-brand-logo-normal {
      display: none;
    }

    .navbar-brand {
      font-family: @brand-font-family;
      cursor: pointer;
    }

    @media (min-width: @screen-sm-min) {
      width: @brand-width;
    }
  }

  .navbar-container {
    @media (min-width: @screen-sm-min) {
      margin-left: @brand-width;

      #toggleMenubar {
        display: none;
      }
    }

    background-color: transparent;

    @media (max-width: @screen-xs-max) {
      background-color: @inverse;
    }
  }

  &.navbar-inverse {
    .navbar-header {
      .hamburger {
        &:before,
        &:after,
        .hamburger-bar {
          background-color: @site-navbar-header-color;
        }
      }

      .navbar-brand-logo {
        &-normal {
          display: inline-block;
        }

        &-special {
          display: none;
        }
      }
    }

    .navbar-container {
      background-color: transparent;
      @media (max-width: @screen-xs-max) {
        background-color: @inverse;
      }
    }

    @media (max-width: @screen-xs-max) {
      .navbar-toolbar > li > a {
        color: inherit;
      }
    }
  }
}
