.dashboard .widget,
.dashboard .panel {
  height: -webkit-calc(100% - 30px);
  height:         calc(100% - 30px);
}
.dashboard .widget-content {
  height: 100%;
  border-radius: 3px;
}
#widgetLineareaOne .ct-chart .ct-area {
  fill-opacity: 1;
}
#widgetLineareaOne .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #7986cb;
}
#widgetLineareaTwo .ct-chart .ct-area {
  fill-opacity: 1;
}
#widgetLineareaTwo .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #ffd54f;
}
#widgetLineareaThree .ct-chart .ct-area {
  fill-opacity: 1;
}
#widgetLineareaThree .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #4dd0e1;
}
#widgetLineareaFour .ct-chart .ct-area {
  fill-opacity: 1;
}
#widgetLineareaFour .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #81c784;
}
#widgetJvmap path {
  fill: #c5cae9;
}
#widgetCurrentChart .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: #fff;
  stroke-width: 3%;
}
#widgetCurrentChart .ct-chart .ct-series.ct-series-b .ct-bar {
  stroke: rgba(232, 234, 246, .4);
  stroke-width: 3%;
}
#widgetCurrentChart .ct-chart .ct-labels .ct-label {
  font-size: 14px;
  color: #fff;
}
#widgetCurrentChart > div {
  position: relative;
}
#widgetCurrentChart > div .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
#widgetUserList .widget-header .overlay-background {
  background-color: rgba(103, 58, 183, .8);
}
#widgetUserList .widget-content {
  position: relative;
  height: auto;
}
#widgetUserList .widget-content .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
#widgetUserList .widget-content .list-group-item .media-body {
  vertical-align: bottom;
}
#widgetUserList .widget-content .list-group-dividered .list-group-item:last-child {
  border-bottom: none;
}
#widgetUserList .widget-content .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
#chat .widget-chat-header > * {
  padding: 0 30px;
  margin: 0;
  line-height: 50px;
}
#chat .widget-chat-footer {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  margin-bottom: 20px;
}
#projects .table > thead > tr > td,
#projects-status .table > thead > tr > td,
#projects .table > tbody > tr > td,
#projects-status .table > tbody > tr > td {
  vertical-align: middle;
}
