.site-menu {
  &-item {
    a {
      color: @site-menubar-color;
    }

    &.has-sub {
      border-top-color: transparent;
      border-bottom-color: transparent;

      &.open {
        border-top-color: @site-menu-has-sub-border-color;
        border-bottom-color: @site-menu-has-sub-border-color;
      }
    }
  }

  > .site-menu-item {
    padding: 0;

    &.open {
      background: @site-menu-top-open-bg;

      > a {
        color: @site-menu-top-open-color;
        background: @site-menu-top-open-head-bg;
      }

      &.hover {
        > a {
          background: @site-menu-top-open-head-bg;
        }
      }
    }

    &.hover, &:hover {
      color: @site-menu-top-hover-color;

      > a {
        color: @site-menu-top-hover-color;
        background-color: @site-menu-top-hover-bg;
      }
    }

    &.active {
      background: @site-menu-top-active-bg;

      > a {
        color: @site-menu-top-active-color;
        background: @site-menu-top-active-head-bg;
      }

      &.hover {
        > a {
          background: @site-menu-top-active-head-bg;
        }
      }
    }
  }

  .site-menu-sub {
    background: @site-menu-sub-bg;

    .site-menu-item {
      color: @site-menu-sub-color;
      background: transparent;

      &.open {
        background: @site-menu-sub-open-bg;

        > a {
          color: @site-menu-sub-open-color;
        }

        &.hover {
          > a {
            background-color: transparent;
          }
        }
      }

      &.hover, &:hover {
        > a {
          color: @site-menu-sub-hover-color;
          background-color: @site-menu-sub-hover-bg;
        }
      }

      &.active {
        background: @site-menu-sub-active-bg;

        > a {
          color: @site-menu-sub-active-color;
        }

        &.hover {
          > a {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.site-menubar-dark {
  .site-menu {
    &-item {
      a {
        color: @site-menubar-dark-color;
      }
      &.hover, &:hover {
        > a {
          background: @site-menu-dark-top-open-head-bg;
        }
      }
    }
    > .site-menu-item {
      &.open {
        background: @site-menu-dark-top-open-bg;
        > a {
          color: @site-menu-dark-sub-open-color;
        }
      }

      &.hover, &:hover {
        background-color: @site-menu-dark-top-hover-bg;
        > a {
          color: @site-menu-dark-top-hover-color;
        }
      }

      &.active {
        background: @site-menu-dark-top-active-bg;
        > a {
          color: @site-menu-dark-top-active-color;
        }
      }
    }
    .site-menu-sub {
      .site-menu-item {
        &.open {
          background: @site-menu-dark-sub-open-bg;
          > a {
            color: @site-menu-dark-sub-open-color;
          }
        }

        &.hover, &:hover {
          background-color: @site-menu-dark-sub-active-bg;
          > a {
            color: @site-menu-dark-sub-hover-color;
          }
          &.open {
            background-color: @site-menu-dark-sub-open-bg;
          }
        }

        &.active {
          background: @site-menu-dark-sub-active-bg;
          > a {
            color: @site-menu-dark-sub-active-color;
          }
        }
      }
    }
  }
}
