
.site-menubar-fold.site-menubar-fold-alt {
  .site-menu {
    > .site-menu-item {
      &.active, &.open, &.hover {
        background: @site-menubar-fold-top-active-bg;
      }

      > a {
        .site-menu-title {
          background: @site-menubar-fold-top-active-bg;
        }
      }
    }
  }

  .site-menubar-light {
    .site-menu {
      > .site-menu-item {
        &.active, &.open, &.hover {
          background: @site-menubar-light-fold-top-active-bg;
        }

        > a {
          .site-menu-title {
            background: @site-menubar-light-fold-top-active-bg;
          }
        }
      }
    }
  }
}
