---
title: Masonry
---

{{#extend "layout-default"}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/advanced/masonry.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/masonry/masonry.pkgd.min.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/components/masonry.js"></script>
  {{/content}}


  {{#content "body"}}

    <div class="page animsition">
      <div class="page-content padding-30 blue-grey-500">
        <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry">
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Genus Quaerimus</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">Nathan Watts</a>
                  <a href="javascript:void(0)">05, 2015</a>
                  <a href="javascript:void(0)">
                    <span>3</span> Comments</a>
                </p>
                <p>Dolemus late utriusque fore eveniet provincia spernat dissentiet.
                  Fit intemperantes.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>108</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Beatus Nature</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">Heather Harper</a>
                  <a href="javascript:void(0)">04, 2015</a>
                  <a href="javascript:void(0)">
                    <span>2</span> Comments</a>
                </p>
                <p>Antipatrum autem aegritudine, torquate seque etiam iucunditatem
                  bello multa feramus.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>120</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <div class="cover-background padding-30" style="background-image: url('{{global}}/photos/placeholder.png')">
                  <blockquote class="cover-quote white">Lorem ipsum dolor sit amet. Integer nec odio. Praesent libero.
                    Sed cursus ante dapibus diam. </blockquote>
                </div>
              </div>
              <div class="widget-body">
                <p class="widget-metas type-link margin-bottom-0">
                  By
                  <a href="javascript:void(0)">Crystal Bates</a>
                  <a href="javascript:void(0)">02, 2015</a>
                  <a href="javascript:void(0)">
                    <span>5</span> Comments</a>
                </p>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Restincto Multi</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">Edward Fletcher</a>
                  <a href="javascript:void(0)">05, 2015</a>
                  <a href="javascript:void(0)">
                    <span>2</span> Comments</a>
                </p>
                <p>Modice accuratius physicis supplicii divinum pariatur graviter
                  horribiles sunt, genus.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>130</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Contentam Sumus</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">June Lane</a>
                  <a href="javascript:void(0)">05, 2015</a>
                  <a href="javascript:void(0)">
                    <span>2</span> Comments</a>
                </p>
                <p>Sit doctus adoptionem nudus voluptatem fugiendum assentior, copulationes
                  consedit poetis.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>120</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Delectamur Angusta</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">Caleb Richards</a>
                  <a href="javascript:void(0)">06, 2015</a>
                  <a href="javascript:void(0)">
                    <span>2</span> Comments</a>
                </p>
                <p>Finitas inermis solum attico, dein horrent eruditionem sollicitare
                  reddidisti, administrari.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>120</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <div class="cover-background padding-30" style="background-image: url('{{global}}/photos/placeholder.png')">
                  <blockquote class="cover-quote white">Lorem ipsum dolor sit amet. Integer nec odio. Praesent libero.
                    Sed cursus ante dapibus diam. </blockquote>
                </div>
              </div>
              <div class="widget-body">
                <p class="widget-metas type-link margin-bottom-0">
                  By
                  <a href="javascript:void(0)">Mary Adams</a>
                  <a href="javascript:void(0)">03, 2015</a>
                  <a href="javascript:void(0)">
                    <span>2</span> Comments</a>
                </p>
              </div>
            </div>
          </li>
          <li class="masonry-item">
            <div class="widget widget-article widget-shadow">
              <div class="widget-header cover">
                <img class="cover-image" src="{{global}}/photos/placeholder.png" alt="...">
              </div>
              <div class="widget-body">
                <h3 class="widget-title">Appareat Conducunt</h3>
                <p class="widget-metas type-link">
                  By
                  <a href="javascript:void(0)">Herman Beck</a>
                  <a href="javascript:void(0)">03, 2015</a>
                  <a href="javascript:void(0)">
                    <span>8</span> Comments</a>
                </p>
                <p>Ignorare correcta hanc democrito, expetendis iure natum cognomen
                  finxerat claris.</p>
                <div class="widget-body-footer">
                  <div class="widget-actions pull-right">
                    <a href="javascript:void(0)">
                      <i class="icon wb-heart" aria-hidden="true"></i>
                      <span>120</span>
                    </a>
                  </div>
                  <button type="button" class="btn btn-outline btn-primary">Read more</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  {{/content}}
{{/extend}}