---
title: Bordered Header
---

{{#extend "layout-default"}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header page-header-bordered">
        <ol class="breadcrumb">
          <li><a href="{{dest '/index.html'}}">Home</a></li>
          <li><a href="javascript:void(0)">Layouts</a></li>
        </ol>
        <h1 class="page-title">Bordered Header</h1>
        <div class="page-header-actions">
          <button type="button" class="btn btn-sm btn-primary btn-round">
            <span class="text hidden-xs">Settings</span>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="page-content">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">DEMO CONTENT</h3>
          </div>
          <div class="panel-body">
            <p>Patriam adipisci nihil maiorem parentes videor probabis orationis oculis,
              praeterea pauca ei numeris protervi detrimenti ultimum qui possint
              nascuntur, nobis dictas plerumque arbitrer, uberiora plerumque maior
              iniucundus aristoteli vidisse. Late laetamur pacuvii quibusdam levamur
              disputatione privamur sententia uti divitiarum, democritum eorum
              stoicis octavio vide didicerimus perpetuam certa, concederetur domo
              etiam illi probatum occulta ennii efficeretur sapiente, pleniorem
              constantia studiis quamvis sicine fuga optio ferantur, dicendum.
              Noster, integre, afferat veniat, paulo bonum tantas provincia fidelissimae
              cumque, tranquillitatem principes sumus accusata disserui soliditatem
              continent perpetua, hostis efficiendi adolescens maiestatis aegritudinem
              doctrinis carere dignissimos postremo honoris, aristippi provocatus
              firme reprehensiones timeam administrari integris.</p>
            <p>Conspectum delectari quandam beata degendae comparaverit, turpis inventore
              titillaret, volunt arbitratu nam responsum videretur hunc laborum
              asperner, romano intellegaturque tribus arridens cura octavio fugiendam,
              improbe multos deterritum reliquisti, paratus nasci quisquam commodius
              eloquentiam expediunt pararetur, recte certe motum necessariam infinito
              debent. Iucunditatem accurate ponunt legere restincto aequum doleamus
              tantas nutu, instituit hanc appetendi sumus aequitatem interiret
              molestiam quoniam pariatur cibo. Nimium provocarem certissimam, nostrum
              placeat, sine mortem ab an. Adoptionem gravis arbitratu, odia, tantalo
              affecta vult res, sapientiam morbos utroque eos apud oriantur probabo
              una quidem verterem, scripserit alias liberalitati convincere, familias
              fingi potuimus repugnantiumve plura, atilii animadvertat isdem, inprobitatem.</p>
            <p>Erigimur. Infantes copulationes sentiunt videretur perpetuam, fictae
              maiorum animum ruinae convenire artibus mirari certamen, quosque
              delectu confectum loquuntur praesertim, inquam explicatam magnis
              intereant audita dixit, notae procedat, alienae efficiat quisquam,
              mei nudus debitis exitum molestiam labefactant necessariam. Habendus,
              petulantes ulla consoletur numquid homine, recordatione sumus liberabuntur
              omnium fugiendus fugiamus torquentur aperta, afranius vivendo percipitur
              fodere detracta perinde, impendere. Utriusque meliore data faciendi,
              praeda severitatem tritani inimicus quod efficit praetor videro graviter
              genus. Veterum perspecta pondere honesta illas perspiciatis, scribendi
              intervenire theophrasti voce, solvantur discere intellegamus perpetiuntur
              intellegere octavio cupiditate his silano, careat menandro investigandi
              quaeso dissentiet eoque, habeat quaerimus falli.</p>
            <p>Torqueantur verear chaere consulatu interesse audiam pervenias chrysippo
              turbulentaeque putarent, patrioque exercendi, iudicio fit acutum.
              Posuit fruitur deorsum voluptaria anteponant quaerat pulchraeque,
              ex ceteris intellegimus auctori hanc esset sentiamus labor latinis,
              crudelis me impensa delectet praesentium acri dominos, haec viam
              avocent metuamus in conscientia statuam videri omittendis aliquod.
              Iucundo inquit probes, ne doloremque mediocris instructus displicet
              paria assentior videro aiunt, impeditur evertitur perspiciatis linguam
              assidua interesset, reiciendis efficerent parentes vocent aegritudinem
              legendam labore late celeritas, splendore. Omittantur potiora fuisset
              arbitramur inhaererent clamat delectet vocet incidant inveneris,
              silano ratio pervenias paratus initiis porro antiquitate doloribus
              summa multavit, mollis constituant fortibus. Expetendis.</p>
            <p>Terrore tractavissent finxerat sinat deseruisse existimo fruenda, compluribus
              suum statuam magna delectatio, censet inhumanus errata vide concupiscunt,
              consistat suscepi lucifugi phaedrum causa veniam, constituit quosque
              nollem. Praetermittatur assentior causae illi esset existimavit conscientiam,
              corporis ingenii tantas vi legendus oportet, leguntur posuit solum
              praeceptrice eae quantaque ulla tradit, animi sensuum historiae capti
              instituit ordinem, quapropter debeo omnia, nec praesidia ipsam segniorem,
              individua laboramus vitiis, adversa fungimur sicine interrogari explicatis
              vituperandae diesque, vitiis. Tuo quot gymnasia, amici ancillae arbitrantur.
              Totus calere, legerint perpetua iudiciorumque contumeliae verbis
              mea, incursione suspicor gessisse sole renovata incursione tollit
              fastidium scientia. Utroque, magnam suavitate tandem sive naturam.</p>
            <p>Apud laudatum concedo, fingi saluto repetitis torquatis distinguantur
              eosque recta, causam victi crudeli voluptatis, fugiat chaere fidem
              cn utrum concertationesque tota attico, atilii indoctum consul indoctis
              parendum afficit elaboraret, stare amplificarique cotidieque. Ferantur
              verum collegi torquentur aliae cognitionis, nesciunt optimum platonis
              vos legantur deterritum aliam. Disserunt iucunditatis adduci usus,
              aspernatur constituit tempore conquirendae nominis confidet existunt
              re. Nostra quam etsi alios. Ornamenta ipso disputatum indignae. Ignavi
              inanitate tollatur greges assentiar explicatam id scribendi approbantibus
              dum, didicisse causa perfunctio. Nixam reiciendis vivatur clariora
              tractatas reperire commenticiam quos fructuosam, mel acute democriti
              longinquitate possunt. Prosperum sedatio terentianus simulent talem,
              legimus animo fuisse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}