.app-notebook .page {
  height: -webkit-calc(100% -  44px);
  height:         calc(100% -  44px);
}
.app-notebook .page-main,
.app-notebook .page-main > form,
.app-notebook .page-main .md-editor {
  height: 100%;
}
.app-notebook .page-aside .form-control {
  height: 56px;
  padding: 10px 60px 10px 30px;
  border-color: rgba(0, 0, 0, .06);
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.app-notebook .page-aside .input-search-btn {
  padding-right: 30px;
  border-radius: 0;
}
.app-notebook .page-aside-inner {
  height: 100%;
}
.app-notebook-list {
  height: -webkit-calc(100% -  56px);
  height:         calc(100% -  56px);
}
.app-notebook-list .list-group .list-group-item {
  z-index: 0;
  margin-bottom: 0;
  white-space: normal;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}
.app-notebook-list .list-group .list-group-item:hover {
  color: #76838f;
  background-color: #e8eaf6;
}
.app-notebook-list .list-group .list-group-item:last-of-type {
  border-bottom: 0;
}
.app-notebook-list .list-group .list-group-item.active {
  background-color: #e8eaf6;
  border-bottom: 1px solid #e0e0e0;
}
.app-notebook-list .list-group .list-group-item .list-group-item-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #616161;
}
.app-notebook-list .list-group .list-group-item .list-group-item-text {
  display: -webkit-box;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5em;
  color: #9e9e9e;
  text-overflow: ellipsis;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.app-notebook-list .list-group .list-group-item::-moz-selection,
.app-notebook-list .list-group .list-group-item .list-group-item-heading::-moz-selection,
.app-notebook-list .list-group .list-group-item .list-group-item-text::-moz-selection {
  background-color: transparent;
}
.app-notebook-list .list-group .list-group-item::selection,
.app-notebook-list .list-group .list-group-item .list-group-item-heading::selection,
.app-notebook-list .list-group .list-group-item .list-group-item-text::selection {
  background-color: transparent;
}
.app-notebook-list .list-group .list-group-item .info {
  color: #bdbdbd;
}
.app-notebook-list .list-group .list-group-item .info .icon.md-folder {
  float: left;
}
.app-notebook-list .list-group .list-group-item .info .category {
  float: left;
  font-size: 12px;
}
.app-notebook-list .list-group .list-group-item .info .time {
  float: right;
  font-size: 12px;
}
.app-notebook-list .list-group .list-group-item .info::-moz-selection,
.app-notebook-list .list-group .list-group-item .info .category::-moz-selection,
.app-notebook-list .list-group .list-group-item .info .time::-moz-selection {
  background-color: transparent;
}
.app-notebook-list .list-group .list-group-item .info::selection,
.app-notebook-list .list-group .list-group-item .info .category::selection,
.app-notebook-list .list-group .list-group-item .info .time::selection {
  background-color: transparent;
}
.app-notebook .md-editor {
  display: block !important;
  max-width: 100%;
  overflow: auto;
  border: 0;
  border-radius: 0;
}
.app-notebook .md-editor > .md-header {
  min-width: 540px;
  height: 56px;
  padding: 12px 18px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}
.app-notebook .md-editor .md-input {
  min-width: 540px;
  height: -webkit-calc(100% -  56px);
  height:         calc(100% -  56px);
  padding: 13px 30px;
}
@media (max-width: 480px) {
  .app-notebook .page {
    height: -webkit-calc(100% -  66px);
    height:         calc(100% -  66px);
  }
}
