.color-primaries {
  padding: 20px 0;
  margin-bottom: 0;
}
.color-primaries > div {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-right: 40px;
  margin-bottom: 20px;
  line-height: 120px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}
.color-palette {
  margin-bottom: 25px;
}
.color-palette h5 {
  margin-bottom: 27px;
}
.color-palette .list-group {
  color: white;
}
.color-palette .list-group-item {
  padding: 15px 20px;
  border: none;
}
.color-palette .list-group-item span + span {
  text-transform: uppercase;
}
.color-box {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: #fff;
}
.text-color-box {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.example-alpha {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
.example-divider {
  background-color: rgba(33, 33, 33, .1) !important;
}
.example-border {
  max-width: 300px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid #e4eaec;
}
.example-border > div {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
}
.opacity-example span {
  display: inline-block;
  width: 55px;
  white-space: nowrap;
}
.opacity-four {
  color: rgba(66, 66, 66, .4) !important;
}
.opacity-six {
  color: rgba(66, 66, 66, .6) !important;
}
.opacity-eight {
  color: rgba(66, 66, 66, .8) !important;
}
.opacity-example .opacity-four i,
.opacity-example .opacity-six i,
.opacity-example .opacity-eight i,
.opacity-example .grey-800 i {
  margin-right: 5px;
}
