<div class="site-menubar-section">
  <h5>
    Milestone
    <span class="pull-right">30%</span>
  </h5>
  <div class="progress progress-xs">
    <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
  </div>
  <h5>
    Release
    <span class="pull-right">60%</span>
  </h5>
  <div class="progress progress-xs">
    <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
  </div>
</div>