---
title: Context Menu
---

{{#extend "layout-default"}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/advanced/context-menu.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="active">Advanced UI</li>
        </ol>
        <h1 class="page-title">Context Menu</h1>
        <div class="page-header-actions">
          <a class="btn btn-sm btn-inverse btn-round" href="http://sydcanem.com/bootstrap-contextmenu/"
          target="_blank">
            <i class="icon wb-link" aria-hidden="true"></i>
            <span class="hidden-xs">Official Website</span>
          </a>
        </div>
      </div>
      <div class="page-content">
        <!-- Panel Context Menu -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Examples
              <span class="panel-desc">Right click inside the box to trigger the menu</span>
            </h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row row-lg">
              <div class="col-md-6">
                <!-- Example Demo 1 -->
                <div class="example-wrap">
                  <h4 class="example-title">Demo 1</h4>
                  <p>Using <code>data-toggle="context"</code> to attach a context-menu</p>
                  <div class="example">
                    <div class="example-well height-200" data-toggle="context" data-target="#contextMenu"></div>
                  </div>

                  <!-- Your custom menu with dropdown-menu as default styling -->
                  <div id="contextMenu">
                    <ul class="dropdown-menu" role="menu">
                      <li><a tabindex="-1"><i class="icon wb-copy" aria-hidden="true"></i> Copy</a></li>
                      <li><a tabindex="-1"><i class="icon wb-scissor" aria-hidden="true"></i> Cut</a></li>
                      <li><a tabindex="-1"><i class="icon wb-clipboard" aria-hidden="true"></i> Paste</a></li>
                      <li class="divider"></li>
                      <li><a tabindex="-1"><i class="icon wb-share" aria-hidden="true"></i> Share</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Demo 1 -->
              </div>

              <div class="col-md-6">
                <!-- Example Demo 2 -->
                <div class="example-wrap">
                  <h4 class="example-title">Demo 2</h4>
                  <div class="example">
                    <div id="exampleContext" data-toggle="context">This is an area where the context menu is active
                      <span class="bg-blue-grey-100">However, we wont allow it here.</span> But anywhere else
                      in this text should be perfectly fine. This one is started
                      with only javascript</div>

                    <div id="exampleContextMenu">
                      <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1"><i class="icon wb-copy" aria-hidden="true"></i> Copy</a></li>
                        <li><a tabindex="-1"><i class="icon wb-scissor" aria-hidden="true"></i> Cut</a></li>
                        <li><a tabindex="-1"><i class="icon wb-clipboard" aria-hidden="true"></i> Paste</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1"><i class="icon wb-share" aria-hidden="true"></i> Share</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Example Demo 2 -->
              </div>

              <div class="clearfix"></div>

              <div class="col-md-6">
                <!-- Example Demo 3 -->
                <div class="example-wrap">
                  <h4 class="example-title">Demo 3</h4>
                  <p>Show the menu name of the item that was selected</p>
                  <div class="example">
                    <div class="example-well height-200" id="exampleContext2" data-toggle="context"></div>
                  </div>
                </div>
                <!-- End Example Demo 3 -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel Context Menu -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}