@import "vars.less";

.page-locked {
  &:before {
    background-image: url("../../images/lockscreen.jpg");
  }

  .avatar {
    margin-bottom: 15px;
  }

  .locked-user {
    margin-bottom: 35px;
  }

  form {
    width: 300px;
    margin: @line-height-computed auto;
  }
}
