
.site-menubar {
  background: @site-menubar-bg;
  color: @site-menubar-color;

  //Site Menubar Dark
  &.site-menubar-dark {
    background: @site-menubar-dark-bg;
    color: @site-menubar-dark-color;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .site-menubar {
    background: @site-menubar-bg;
    color: @site-menubar-color;
  }
}
