.font-weight-light(){ 
  font-weight: @font-weight-light;
}
.font-weight-normal(){ 
  font-weight: @font-weight-normal; 
}
.font-weight-medium(){ 
  font-weight: @font-weight-medium; 
}
.font-weight-bold(){ 
  font-weight: @font-weight-bold; 
}