---
title: Nav
---

{{#extend "layout-default"}}


  {{#content "body"}}

    <!-- Page -->
    <div class="page animsition">
      <div class="page-header">
        <h1 class="page-title">Nav</h1>
        <ol class="breadcrumb">
          <li><a href="{{dest 'index.html'}}">Home</a></li>
          <li class="active">Structure</li>
        </ol>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>
      <div class="page-content container-fluid">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body">
            <div class="row row-lg">
              <div class="col-sm-6">
                <!-- Example Pills -->
                <div class="example-wrap">
                  <h4 class="example-title">Pills</h4>
                  <div class="example">
                    <ul class="nav nav-pills">
                      <li class="active" role="presentation"><a href="javascript:void(0)">Home</a></li>
                      <li role="presentation"><a href="javascript:void(0)">Profile</a></li>
                      <li class="disabled" role="presentation"><a href="javascript:void(0)">Messages</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Pills -->
              </div>

              <div class="col-sm-6">
                <!-- Example Iconified Pills -->
                <div class="example-wrap">
                  <h4 class="example-title">Iconified Pills</h4>
                  <div class="example">
                    <ul class="nav nav-pills">
                      <li class="active" role="presentation"><a href="javascript:void(0)"><i class="icon md-home" aria-hidden="true"></i> Home</a></li>
                      <li role="presentation"><a href="javascript:void(0)"><i class="icon md-account" aria-hidden="true"></i> Profile</a></li>
                      <li class="disabled" role="presentation"><a href="javascript:void(0)"><i class="icon md-comment" aria-hidden="true"></i> Messages</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Iconified Pills -->
              </div>

              <div class="col-sm-6">
                <!-- Example Pills -->
                <div class="example-wrap margin-sm-0">
                  <h4 class="example-title">Stacked Pills</h4>
                  <div class="example">
                    <ul class="nav nav-pills nav-stacked">
                      <li class="active" role="presentation"><a href="javascript:void(0)"><i class="icon md-home" aria-hidden="true"></i> Home</a></li>
                      <li role="presentation"><a href="javascript:void(0)"><i class="icon md-account" aria-hidden="true"></i> Profile</a></li>
                      <li class="disabled" role="presentation"><a href="javascript:void(0)"><i class="icon md-comment" aria-hidden="true"></i> Messages</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Stacked Pills -->
              </div>


              <div class="col-sm-6">
                <!-- Example Pills With Dropdowns -->
                <div class="example-wrap">
                  <h4 class="example-title">Pills With Dropdowns</h4>
                  <div class="example">
                    <ul class="nav nav-pills">
                      <li class="active" role="presentation"><a href="javascript:void(0)"><i class="icon md-home" aria-hidden="true"></i> Home</a></li>
                      <li role="presentation"><a href="javascript:void(0)"><i class="icon md-help" aria-hidden="true"></i> Help</a></li>
                      <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                        role="button">
                          <i class="icon md-wrench" aria-hidden="true"></i> Dropdown
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
                          <li class="divider" role="presentation"></li>
                          <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Pills With Dropdowns -->
              </div>

            </div>
          </div>
        </div>
        <!-- End Panel -->

        <!-- Panel -->
        <div class="panel">
          <div class="panel-body">
            <div class="row row-lg">

              <div class="col-lg-6">
                <!-- Example Nav Tabs -->
                <div class="example-wrap">
                  <h4 class="example-title">Nav Tabs</h4>
                  <div class="example">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="javascript:void(0)">Home</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Components</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Css</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Javascript</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Nav Tabs -->
              </div>

              <div class="col-lg-6">
                <!-- Example Nav Tabs Line -->
                <div class="example-wrap">
                  <h4 class="example-title">Nav Tabs Line</h4>
                  <div class="example">
                    <ul class="nav nav-tabs nav-tabs-line">
                      <li class="active"><a data-toggle="tab" href="javascript:void(0)">Home</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Components</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Css</a></li>
                      <li><a data-toggle="tab" href="javascript:void(0)">Javascript</a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Example Nav Tabs Line -->
              </div>

              <div class="col-lg-6">
                <!-- Example Nav Tabs Vertical -->
                <div class="example-wrap margin-lg-0">
                  <h4 class="example-title">Nav Tabs Vertical</h4>
                  <div class="example">
                    <div class="nav-tabs-vertical">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="javascript:void(0)">Home</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Components</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Css</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Javascript</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Example Nav Tabs Vertical -->
              </div>

              <div class="col-lg-6">
                <!-- Example Nav Tabs Line Vertical -->
                <div class="example-wrap">
                  <h4 class="example-title">Nav Tabs Line Vertical</h4>
                  <div class="example">
                    <div class="nav-tabs-vertical">
                      <ul class="nav nav-tabs nav-tabs-line">
                        <li class="active"><a data-toggle="tab" href="javascript:void(0)">Home</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Components</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Css</a></li>
                        <li><a data-toggle="tab" href="javascript:void(0)">Javascript</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Example Nav Tabs Line Vertical -->
              </div>

            </div>
          </div>
        </div>
        <!-- End Panel -->


        <!-- Quick Menu -->
        <div class="example-wrap">
          <h4 class="example-title">Quick Menu</h4>
          <!-- Example Quick Menu Small -->
          <div class="example">
            <ul class="nav-quick nav-quick-sm row">
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-settings" aria-hidden="true"></i> Settings
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-account" aria-hidden="true"></i> User list
                  <span class="label label-success">8</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-wrench" aria-hidden="true"></i> Admin tools
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-upload" aria-hidden="true"></i> Upload
                  <span class="label label-danger">13</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-lock" aria-hidden="true"></i> Lock
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-search" aria-hidden="true"></i> Search
                </a>
              </li>
            </ul>
          </div>
          <!-- End Example Quick Menu Small -->

          <!-- Example Quick Menu -->
          <div class="example">
            <ul class="nav-quick row">
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-settings" aria-hidden="true"></i> Settings
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-account" aria-hidden="true"></i> User list
                  <span class="label label-success">8</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-wrench" aria-hidden="true"></i> Admin tools
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-upload" aria-hidden="true"></i> Upload
                  <span class="label label-danger">13</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-lock" aria-hidden="true"></i> Lock
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-search" aria-hidden="true"></i> Search
                </a>
              </li>
            </ul>
          </div>
          <!-- End Example Quick Menu -->
          <!-- Example Quick Menu Large -->
          <div class="example">
            <ul class="nav-quick nav-quick-lg row">
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-settings" aria-hidden="true"></i> Settings
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-account" aria-hidden="true"></i> User list
                  <span class="label label-success">8</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-wrench" aria-hidden="true"></i> Admin tools
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-upload" aria-hidden="true"></i> Upload
                  <span class="label label-danger">13</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-lock" aria-hidden="true"></i> Lock
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-search" aria-hidden="true"></i> Search
                </a>
              </li>
            </ul>
          </div>
          <!-- End Example Quick Menu Large -->

          <!-- Example Quick Menu Bordered -->
          <div class="example">
            <ul class="nav-quick nav-quick-bordered row">
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-settings" aria-hidden="true"></i> Settings
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-account" aria-hidden="true"></i> User list
                  <span class="label label-success">8</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-wrench" aria-hidden="true"></i> Admin tools
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-upload" aria-hidden="true"></i> Upload
                  <span class="label label-danger">13</span>
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-lock" aria-hidden="true"></i> Lock
                </a>
              </li>
              <li class="col-sm-2 col-xs-4">
                <a href="javascript:void(0)">
                  <i class="icon md-search" aria-hidden="true"></i> Search
                </a>
              </li>
            </ul>
          </div>
          <!-- End Example Quick Menu Bordered -->
        </div>
        <!-- End Quick Menu -->
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}