---
title: Page Aside Fixed
body_class: page-aside-fixed
---

{{#extend "layout-default"}}


  {{#content "body"}}


    <div class="page animsition">
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon md-chevron-left" aria-hidden="true"></i>
          <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner">
          <section class="page-aside-section">
            <h5 class="page-aside-title">Main</h5>
            <div class="list-group">
              <a class="list-group-item active" href="javascript:void(0)"><i class="icon md-view-dashboard" aria-hidden="true"></i>Overview</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-assignment" aria-hidden="true"></i>Activity</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-favorite" aria-hidden="true"></i>Dearest</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-folder" aria-hidden="true"></i>Folders</a>
            </div>
          </section>
          <section class="page-aside-section">
            <h5 class="page-aside-title">Filter</h5>
            <div class="list-group">
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-image" aria-hidden="true"></i>Images</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-volume-up" aria-hidden="true"></i>Audio</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-camera" aria-hidden="true"></i>Video</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-file" aria-hidden="true"></i>Notes</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-link" aria-hidden="true"></i>Links</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon md-file-text" aria-hidden="true"></i>Files</a>
            </div>
          </section>
        </div>
      </div>
      <div class="page-main">
        <div class="page-header">
          <h1 class="page-title">Page Aside Fixed</h1>
        </div>
        <div class="page-content">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">DEMO CONTENT</h3>
            </div>
            <div class="panel-body">
              <p>Beata civitas malum iracundia scipio perspecta doleamus molestiae
                illa, expectata commodi pericula liberos iuberet sitne suas aspernari,
                numquidnam responsum cupiditatum romanum asperum. Umquam percipit
                contemnit utrumque conquisitis angere perspicuum loquuntur statu,
                vigiliae carum honestatis maximasque. Atomorum pariatur dolorem
                theophrasti sitne intuemur turbulentaeque captet postulet pleniorem,
                inanes error illi, adest dissidens putamus deserere voluptatis
                sit perspecta pluribus fortasse atomum, apertam adhuc vitiis parvos
                perturbatur dicunt facio mutat numeranda erimus, amorem iracundia
                mollitia transferre, habent paratus consequatur. Tenere iusteque
                imperitos cupiditatum omnium, aetatis erudito eorumque declinare
                probaturum turpius arare, inhumanus potiora pacto permagna, malo
                ego turpe, efficitur tranquilli albucius ipsarum praetereat nullam
                corrupisti suas re, frui percipiatur dein accusator arguerent alias.
                Eamque censet, paranda postulet utilitatibus nostros consistat
                divitias secutus iudico blanditiis asperiores, voluptatem valetudinis
                iustius consequentium maioribus, significet scribendi comparat
                primis declinare ista adversantur per ferre perpetiuntur, erigimur
                iucundius cognitionem, unum sublatum afranius, seditiones rationibus
                odio efficitur, leniat antiopam vocant voluptates exhorrescere,
                hic voluptaria sequitur graeca. Quale desistemus praesentium habemus.</p>
              <p>Ingeniis stoicis finiri sequatur possum verissimum vel debemus statu
                exquirere. Omnibus, verterem ferae arbitrer maiora referatur mediocris
                praeter deseruisse, legendum detractio, consectetur disputandum
                harum. Aequo cernimus explicabo beatae afficit approbantibus lictores
                robustus numeranda accedit, apeirian cogitemus parvos adiuvet probatum
                voluptas saluto proficiscuntur intemperantes data, maiestatis fautrices
                assidua suaviter mihi. Iis claris quaestionem statim quarum pertinerent
                audire sedulitatem, referatur, suscipiet maximeque. Tale acutus
                intercapedo mandamus status nescius insolens audiebamus menandro
                contenta, fugiat pro, studio morati poetarum venustate supplicii
                melius lictores sequatur disputari, sapiente imperiis foedus putarent
                nec dubio lucifugi miraretur fastidium, nescius parabilis poetis
                num fictae homero praeterea tractatos graecis fortunam, ferrentur
                muniti atomi adiit sententia hac beata. Facultas dubitemus puerilis
                generis inflammati assentiar habeat. Studia discordant. Mors sibi
                propriae umquam magnam saxum celeritas, uti conquirendae videro
                delicata patre. Errore pertineant consequamur orestem videatur
                motum usque cyrenaicisque, aptius praesertim tuo istam existimare
                equos prospexit necesse intereant probatum, improborum, integre
                motu nostram anteponant paulo, itaque prompta partus albam turma
                propter litterae cetero, intemperantiam possumus, deterius.</p>
              <p>Pedalis mediocris, magnosque vitiis dubio parte recusabo, invitat
                percurri liberalitati maerores fortitudinis legant multavit torquentur,
                inciderit quaerendi periculum alienum numquid amaret tranquillat
                modum suo futuros, disciplinis statuerunt debet erudito quae confirmare,
                meam consequentium voluptatum meminit victi splendore tenebimus
                definitiones firme iudicari. Amici affert tollit suscipiantur nullam
                derigatur vicinum, exedunt diu iudicium, aristotele impetu proposita
                facimus locis conclusum regione turbent segnitiae. Athenis perspexit
                fonte cum paene indicaverunt temperantiam, signiferumque amatoriis
                suscipiantur credo reddidisti perdiderunt incommoda poetarum suspicio
                incidant. Atomum, unde laetitia insolens laudatur, philosophi chaere.
                Sapientia expressas astris praeclare iudex ornatus expetendam adolescens
                plurimum, moveat nulla, nulla paranda mutae fidelissimae ibidem
                caelo ius metuque divinum paene, privatio putamus dicebas, dicant
                atque velit collegisti firmitatem ferantur sponte inani utrumvis,
                veritatis, magis coniunctione munere porro indocti scipio graeco
                quietae obligantur adoptionem, aptissimum quosque, opinemur scripserit
                rebus acutum ipsarum consentinis singulos declinare, iniurias mens
                verterem uberius debilitatem afferre captiosa perspicuum magna.
                Debeo ineruditus asperner iudicat, odio iustioribus alterum optimi
                cohaerescant metrodorus. Laboribus meis inquam caelo quoque videamus
                debilitatem metus gravis fugienda.</p>
              <p>Admodum recordamur ne unum, vitae, detractio poterit primum, genuit
                utilitate displicet hortensio nescius contemnit duo meis ad, declinabunt
                fructuosam que improborum zenonem placet saluti tam, legendis quietus
                tractatas tria, verissimum theseo summum que. Dividendo fictae
                patria totam nostris texit aliena pecunias. Degendae late disseretur,
                quoniam suavitate quo terentianus debent arridens. Fruuntur doloribus
                nimis mandaremus assentiar, tempore expectata. Genuit voluptaria
                artem graecis venustate, praesidium foedus facio aegritudines sentit
                suscipit torquatus gessisse ob. Concursio quanti agam vestrae.
                Consequentium assentior provident gravioribus, metuamus intellegerem,
                incurreret utilitate audita tollunt bene, perpetuis modi bonarum
                amicis chrysippe, tranquilli interesse liberamur viam chrysippo
                vituperari proposita manu, volumus virtutem temperantiamque philosophiae
                expetendum, aliquo multam suscipiet dolores vero exitum, mens ornateque
                directam, numeris pars torquem calere cupiditatibusque difficiles
                nulli laboriosam tueri praesenti, labore praesens percipit dices.
                Te legerint aequitate. Constringendos. Audaces cupiditates tranquilli
                vester seditione prohiberet putant non, dissident tolerabiles loqueretur
                fructuosam oratione, fatendum etiam, bonorum probarentur imperitorum
                dicantur, pueri ferre studiose, videor clarorum. Artifex regione
                conflixisse impetum graeci. Omne desideraturam expressas deterret
                inciderint, fungimur nosmet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}