<html>
<head>
  <title>Remark bootstrap admin template</title>
</head>
<body>
  <h3>Classic</h3>
  <ul>
    <li><a href="classic/base/html/index.html" target="_blank">Base Layout</a></li>
    <li><a href="classic/iconbar/html/index.html" target="_blank">Iconbar Layout</a></li>
    <li><a href="classic/topbar/html/index.html" target="_blank">Topbar Layout</a></li>
    <li><a href="classic/topicon/html/index.html" target="_blank">Topicon Layout</a></li>
    <li><a href="classic/mmenu/html/index.html" target="_blank">MMenu Layout</a></li>
    <li><a href="classic/center/html/index.html" target="_blank">Center Style</a></li>
  </ul>
  <h3>Material</h3>
  <ul>
    <li><a href="material/base/html/index.html" target="_blank">Base Layout</a></li>
    <li><a href="material/iconbar/html/index.html" target="_blank">Iconbar Layout</a></li>
    <li><a href="material/topbar/html/index.html" target="_blank">Topbar Layout</a></li>
    <li><a href="material/topicon/html/index.html" target="_blank">Topicon Layout</a></li>
    <li><a href="material/mmenu/html/index.html" target="_blank">MMenu Layout</a></li>
    <li><a href="material/center/html/index.html" target="_blank">Center Style</a></li>
  </ul>
</body>
</html>
