@import "vars.less";


.example {
  position: relative;
  padding: 50px 15px 15px 50px;
  background-color: #f3f7fa;
  .box-shadow(0 1px 4px 0 rgba(0,0,0,.1));
  &-reverse {
    padding: 50px 50px 15px 15px;
  }
  &-bottom {
    padding: 15px 15px 50px 50px;
    &-reverse {
      padding: 15px 50px 50px 15px;
    }
  } 
}
