@import "vars.less";


.page-aside-fix {
  .page-aside {
    .page-aside-inner {
      position: fixed !important;
      top: 66px;
      bottom: 0;
      width: inherit;
      overflow-y: scroll;
    }
  }  
}
