// Name:            Color
//
// Component:       `color`
//
// ========================================================================

// Variables
// ========================================================================

// Primary is necessary
@color-list-a: "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", 
        "light-green", "lime", "yellow", "amber", "orange", "deep-orange";
@color-list-b: "primary", "brown", "blue-grey", "grey";

@color-level-a: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, a100, a200, a300, a400;
@color-level-b: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900; 

// Component: Color
// ========================================================================

.colorLoop (@type, @color-list, @color-level, @index) when (@index <= length(@color-list)) {
  @color: extract(@color-list, @index);

  .levelLoop(@type, @color, @color-level, 1);
  .colorLoop(@type, @color-list, @color-level, (@index + 1));
}

.levelLoop(@type, @color, @color-level, @index) when (@index <= length(@color-level)) {
  @level: extract(@color-level, @index);
  @var: %('color-%s-%s', @color, @level); 
  @class:  e(%('%s-%s', @color, @level));
  
  .colorGenerator(@type, @class, @@var);

  .levelLoop(@type, @color, @color-level, (@index + 1));
}

.colorGenerator(@type, @class, @value) when (@type = color){
  .@{class} {
    color: @value !important;
  }
}

.colorGenerator(@type, @class, @value) when (@type = bg){
  .bg-@{class} {
    background-color: @value !important;
  }
}

// generate
.colorLoop (color, @color-list-a, @color-level-a, 1);
.colorLoop (color, @color-list-b, @color-level-b, 1);
.colorLoop (bg, @color-list-a, @color-level-a, 1);
.colorLoop (bg, @color-list-b, @color-level-b, 1);

.black { color: @color-black !important; }
.white { color: @color-white !important; }