---
title: AngularJs
---

{{#extend "layout-default"}}


  {{#content "body"}}

    <div class="page animsition">
      <div class="page-header">
        <h1 class="page-title">AngularJs</h1>
        <ol class="breadcrumb">
          <li><a href="{{dest '/index.html'}}">Home</a></li>
          <li class="active">AngularJs</li>
        </ol>
        <div class="page-header-actions">
          <a class="btn btn-sm btn-default btn-outline btn-round" href="https://angularjs.org/"
          target="_blank">
            <i class="icon wb-link" aria-hidden="true"></i>
            <span class="hidden-xs">Official Website</span>
          </a>
        </div>
      </div>
      <div class="page-content">
        <div class="panel">
          <div class="panel-body">
            <h1>Coming Soon</h1>
            <p>We will release a full angular version soon. Please look forward to
              it.</p>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}