
.site-menubar {
  background: @site-menubar-bg;
  color: @site-menubar-color;

  //Site Menubar Light
  &.site-menubar-light {
    background: @site-menubar-light-bg;
    color: @site-menubar-light-color;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .site-menubar {
    background: @site-menubar-bg;
    color: @site-menubar-color;
  }
}
